*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
/* variables */
:root{
    --color-txt-primary:#ab29ca;
    --color-txt-secundary:#101E2c;
    --color-txt-tertiary:#485663;
    --main-color-primary:#9a00bf;
    --main-color-secundary:#f4d4fb;
    --main-color-tertiary:rgb(174, 148, 168);

    --lowTxt-font-size:16px;
    --txt-size-title:40px;
    --txt-title-card:24px;
    --txt-title-card2:20px;
    --txt-paragraph:16px;
    --box-shadow-primary:0 6px 50px -20px rgba(0,0,0,0.2);
}

/* zona header  */
header{
    width:100%;
    height:100px;
    position: fixed;
    z-index: 100;
    background-color: var(--main-color-secundary);
    
}
.container-header{
    max-width: 1200px;
    height: 100%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo img{
    width:200px;
}
.menu{
    display:flex;
    align-items: center;
}
.menu nav{
    margin:0 20px;
}
.menu nav ul{
    display:flex;
}
.menu nav ul li{
    list-style: none;
    margin:20px 16px;
}
.menu nav ul li a{
    color:var(--color-txt-secundary);
    font-size: var(--lowTxt-font-size);
    position:relative;

} 
.menu nav ul li a:hover{
    color:var(--color-txt-primary);
}
.btn-quote{
    display:block;
    padding:8px 40px;
    border:2px solid var(--main-color-primary);
    border-radius: 8px;
    font-weight: 800;
    margin: 0 20px;
    transition: 0.3s;
}
.btn-quote:hover{
    color:white;
    background: var(--main-color-primary);
    border-color: black;
}

.menu .socialMedia{
    margin:0 4px;
}
.menu .socialMedia img{
    width:30px;
}

/* zona portada */
body{
    position:absolute;
}
.container-cover{
    padding-top:100px;
    padding-bottom: 100px;
    background-color: var(--main-color-secundary);
}
.cover{
    max-width: 1200px;
    margin:auto;
    margin-top:100px;
    display:flex;
    align-items: center;
    padding:0 20px;
}
.text-cover{
    width: 100%;
    padding-right: 150px;
}
.text-cover h1{
    font-size:50px;
    color:var(--color-txt-secundary);

}
.text-cover p{
    font-size:var(--txt-paragraph);
    margin-top:40px;
    color:var(--color-txt-tertiary);
}
.btn-text{
    display:block;
    width: 150px;
    margin-top: 40px;
    padding:10px 20px;
    background: var(--main-color-primary);
    text-align: center;
    font-weight: 500;
    background: var(--main-color-primary);
    color:white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor:pointer;
    transition: 0.3s;
}
.btn-text:hover{
    background: transparent;
    border:2px solid var(--color-txt-primary);
}
.img-cover{
    width:100%;
}
.img-cover img{
    width:550px;
}
/* cards  */
.container-card-primary{
    padding-top:100px;

}
.card-primary{
    max-width:1200px;
    margin:auto;
    text-align: center;
    padding:0 20px;
}
.text-card-primary{
    max-width: 800px;
    margin:auto;
}
.text-card-primary p{
    color:var(--color-txt-primary);
    letter-spacing: 4px;
    font-size: var(--txt-paragraph);
    font-weight: 500;
}
.text-card-primary h1{
    font-size:var(--txt-size-title);
    font-weight: 600;
    color:var(--color-txt-secundary);
}
.container-box-card-primary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.card-trust{
    max-width: 300px;
    padding:60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin:14px;
    transition:0.3;
}
.card-trust:hover{
    border:transparent;
    box-shadow:var(--box-shadow-primary);
}
.container-box-card-primary h2{
    font-size:var(--txt-title-card);
    margin-top: 40px;
    font-weight: 500;
}
.container-box-card-primary p{
    margin-top:20px;
}
/* about */

.container-about{
    padding:100px 0;
    background: var(--background-color);
    margin-top: 100px;
}
.about{
    max-width: 1200px;
    margin:auto;
    padding:0 20px;
    display:flex;
    align-items: center;
    justify-content: center;
 
}
.about-text{
    width:100%;
    padding-right: 40px;
}
.about-text h1{
    color:var(--txt-paragraph);   
    font-weight: 600;
}
.about-text p{
    font-size: var(--txt-paragraph);
    margin-top: 40px;
    color:var(--color-txt-tertiary);
}
.img-about{
    width:100%;
    display:flex;
}
.btn-text-about:hover{
    color: var(--color-txt-secundary);
}
/* servicios */
.container-service{
    width: 100%;
    justify-content: center;
}
.container-card-service{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-service{
    max-width: 300px;
    padding:60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin:14px;
    transition:0.3;
    
}
.card-service a{
    display: flex;
    margin-top:20px;

}
.card-service img{
    margin-left: 30%;
    width: 40%;
    height: 40%;
}

.card-service a i{
    margin:auto;
    font-size: 50px;
    color:var(--main-color-primary);
    transition:ease-in 0.3s;
}
.card-service a i:hover{

    font-size: 55px;
    color:var(--main-color-secundary);

}
.card-service:hover{
    box-shadow: 0 0 15px var(--main-color-secundary);
}
/* works */
.container-work{
    margin:20px 5vw;
    min-height: 150vh;
}
.container-work-navbar{
    display:flex;
    justify-content:flex-start;
    padding-left: 10%;
}
.work-title{
    background-color: var(--main-color-tertiary);
    display:flex;
    padding:30px;
    border-radius: 30px 30px 2px 2px ;
    margin-left: -20px;
    border: 2px  solid var(--main-color-secundary);
}
.work-title.work-active{
    display:flex;
    background: var(--main-color-secundary);
    border: none;
    z-index: 100;
}

.container-work-works{
    background: var(--main-color-secundary);
    border-radius: 10vh;
    overflow: hidden;
    min-height: 700px;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
}
.container-work-content {
    display:none;

}
.container-work-content.work-active{
    position:relative;
    min-height: 700px;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin-bottom: 40px;
}

.container-work-content  .container-img{
    border-radius: 10vh;
    margin: 2vw 2vw;
    height:25vw;
    width: 25vw;
    overflow: hidden;
    
}
.works-text{
    display:flex;
    max-width: 1000px;
    flex-direction: column;
}

.container-work-content .works-text h3{
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    font-size: 2em;
}
.container-work-content .works-text p{
    justify-content: center;
    margin: 10%;
    margin-bottom: 5%;
    color: var(--color-txt-secundary);
    font-size: 1.5em;
}
.container-work-content .works-text a{
    padding: 15px;
    margin:auto;
    margin-bottom: 50px;
    border-radius: 10px;
    border:3px solid transparent;
    background-color: var(--main-color-primary);
    color:var(--main-color-secundary);
    transition: ease-in-out 0.3s;
}
.container-work-content .works-text a:hover{
    border: 3px solid var(--main-color-primary);
    background-color:var(--main-color-secundary);
    padding: 15px 50px;
    color:var(--color-txt-primary);
    font-weight: bold;

}

/* foooter */

footer{
    background-color: var(--main-color-primary);
    width: 100%;
    position:absolute;
    bottom: 0;
    height: 80px;
    margin-top: 100px;
    padding:15px;
}
.container-footer{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10vw;
    flex-wrap: wrap;
}
.contacto{
    color: var(--main-color-secundary);
    display:flex;
    flex-direction: column;
    gap:10px;
}
.legal{
    color:var(--main-color-secundary);
    display:flex;
    flex-direction: column;
    gap:10px;
}
.footer-lugar{
    display:block;
    padding:10px;
    cursor:pointer;
    border-radius: 10px;
    border:2px solid var(--main-color-secundary);
    background-color:var(--main-color-primary);
    
}
.footer-lugar a{
    color: var(--main-color-secundary);
    font-weight: 800;
}
.footer-lugar:hover{
    border:2px solid var(--color-txt-secundary);
    background-color: var(--main-color-secundary);

}
.footer-lugar:hover a{
    color: var(--main-color-primary);
}